.form-search-vin-wrap
	position: absolute
	display: none
	top: calc(100% + 25px)
	left: -15px
	right: -15px
	padding: 0 15px 15px
	background-color: #fff
	z-index: 10
	animation: op 0.25s ease
	&.open
		display: block
	h3
		margin-bottom: 25px
		font-weight: 400
		font-size: 24px
		color: #000

.form-search-vin
	.form__bottom
		margin-top: 60px
	.form-group--btn
		margin-left: auto

@keyframes op
	0%
		opacity: 0
		visibility: hidden
	100%
		opacity: 1
		visibility: visible