.top-menu
	padding: 6px 0
	background: $dark-gray
	&__wrap
		display: flex
		align-items: center
		justify-content: space-between
	&__cart
		&.widget-cart
			display: none
		.widget-cart__left
			padding: 0
			background: none
			&::after
				display: none
		.widget-cart__right
			display: none