.top-menu
	padding: 6px 0
	background: $dark-gray
	+transition
	&.sticky
		position: fixed
		top: 0
		left: 0
		right: 0
		z-index: 100
		animation: slideDown 0.3s ease
	&__wrap
		display: flex
		align-items: center
		justify-content: space-between
	&__cart
		display: none
		.widget-cart__left
			padding: 0
			background: none
			&::after
				display: none
		.widget-cart__right
			display: none

@keyframes slideDown
	0%
		transform: translateY(-100%)
	100%
		transform: translateY(0)