// Colors
$main-color:    #0e0e0e
$accent:        #ca332c

$dark-gray:     #3d3834
$mine-shaft:    #3b3b3b
$gray:          #626262
$gray-2:        #868686
$fuscous-gray:  #504a45
$light-gray:    #e0e9eb
$gray-chateau:  #9fa6a8
$cod-gray:      #161616
$dov-gray:      #626262
$iron:          #e2e6e6
$oslo-gray:     #878d8f
$silver-sand:   #b8bebf
$tiara:         #c4cdcf
$affair:        #7f4da0
$meadow:        #25d366
$kashmir-blue:  #4c6c91
$chambray:      #3b5998
$cinnabar:      #e7463f
$pickton-blue:  #55acee
$valencia:      #dc4e41
$porcelain:     #f2f5f5
$edward:        #a3aaab
$nevada:        #676a6b
$emerald:       #42c88a
$mantis:        #6ac259
$rolling-stone: #787f84
$submarin:      #bcc4c6
$natural-gray:  #928d89
$chicago:       #5c5b5a
// Fonts
$main-font: 'BrutalType', Arial, sans-serif

// Bootstrap
$grid-columns: 12
$grid-gutter-width: 30px
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 750px, lg: 970px, xl: 1140px)

// Media Queries
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx)