.how-order
	padding-bottom: 50px
	&__title
		margin-bottom: 65px
		font-size: 24px
		font-weight: 500
		&--red
			color: $accent
	&__list
		margin: 0
		padding: 0
		list-style: none
		li
			position: relative
			display: flex
			align-items: center
			margin-bottom: 15px
			font-size: 20px
			line-height: 1.2
		&-number
			display: inline-block
			width: 60px
			margin-right: 25px
			font-size: 36px
			line-height: 1
			font-weight: 500
			color: $accent
			text-align: center
			border-right: 2px solid $light-gray
			&:last-child
				margin-bottom: 0
	&__content
		p
			font-size: 16px
			font-weight: 300
			a
				font-weight: 500
	&-bottom
		padding-top: 15px
		border-top: 1px solid $light-gray
		.how-order__title
			margin-bottom: 30px
	&__pay
		display: flex
		flex-wrap: wrap
		padding: 0 35px
		&-group
			display: flex
			// flex-wrap: wrap
			margin-right: 70px
			&:last-child
				margin-right: 0
		&-item
			margin-right: 15px
			flex-shrink: 0
			&:last-child
				margin-right: 0